@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Urbanist';
  src: url('utils//fonts/Urbanist-VariableFont_wght.ttf') format('truetype'),
       url('utils/fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype'),
       url('utils/fonts/Urbanist-Bold.ttf') format('truetype'),
       url('utils/fonts/Urbanist-Black.ttf') format('truetype'),
       url('utils/fonts/Urbanist-BlackItalic.ttf') format('truetype'),
       url('utils/fonts/Urbanist-ExtraBold.ttf') format('truetype'),
       url('utils/fonts/Urbanist-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('utils/fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

.urban{
  font-family: 'Urbanist',sans-serif;
  font-weight: 900
}
body {
  margin: 0;
  font-family: 'Urbanist',sans-serif;
  box-sizing: border-box;
  padding: 0;
}

.homebg{
  background-image: url('./assets/images/looper.png');
  width: 100%;
  height: 100%;
  background-position:start;
  background-repeat: no-repeat;
  background-size: contain;
}
.rectbg{
  background-image: url('./assets/images/rect.png');
  width: 1350px;
  height: 882px;
  background-size: cover;
}

.darkbg {
  background-image: url('./assets/images/darkrect.png');
  width: 1365px;
  height: 647px;
  background-size: cover;
  position: absolute;  
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.orangebg {
  background-image: url('./assets/images/orangerect.png');
  width: 1440px;
  height: 833px;
  background-size: cover;
  position: absolute;
  top:20rem ;
  z-index: 1;
}
.linebg {
  background-image: url('./assets/images/linesbg.png');
  width: 100%;
  height: 90dvh;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  background-repeat: no-repeat;
  z-index: 1;
}

@media (max-width: 768px) {
  .darkbg{
    background-image: url('./assets/images/darkrect.png');
    width: 1165px;
    height: 947px;
    background-size: cover;
    /* position: absolute;   */
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .orangebg {
    background-image: url('./assets/images/orangerect.png');
    width: 1240px;
    height: 833px;
    background-size: cover;
    /* position: absolute; */
    top:20rem ;
    z-index: 1;
  }
}