@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Urbanist';
  src: url('utils//fonts/Urbanist-VariableFont_wght.ttf') format('truetype'),
       url('utils/fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype'),
       url('utils/fonts/Urbanist-Bold.ttf') format('truetype'),
       url('utils/fonts/Urbanist-Black.ttf') format('truetype'),
       url('utils/fonts/Urbanist-BlackItalic.ttf') format('truetype'),
       url('utils/fonts/Urbanist-ExtraBold.ttf') format('truetype'),
       url('utils/fonts/Urbanist-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('utils/fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

.urban{
  font-family: 'Urbanist',sans-serif;
  font-weight: 900
}
body {
  margin: 0;
  font-family: 'Urbanist',sans-serif;
  box-sizing: border-box;
  padding: 0;
}





/* Default (Mobile First) */
.rectbg {
  background-image: url('./assets/mobile/mobile-rect.png');
  width: 100%;
  max-width: 580px;
  position: absolute;
  height: 860px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homebg{
  background-image: url('./assets/images/looper.png');
  width: 100%;
  height: 100%;
  background-position:start;
  background-repeat: no-repeat;
  background-size: contain;
}


/* .darkbg {
  background-image: url('./assets/images/darkrect.png');
  width: 1365px;
  height: 647px;
  background-size: cover;
  position: absolute;  
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
} */

/* .orangebg {
  background-image: url('./assets/images/orangerect.png');
  width: 1440px;
  height: 833px;
  background-size: cover;
  position: absolute;
  top:20rem ;
  z-index: 1;
} */
.linebg {
  background-image: url('./assets/images/linesmainbg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* Dark background */
.darkbg {
  background-image: url('./assets/mobile/mobile-darkrectangle.png');
  width: 100%;
  max-width: 440px;
  height: 1153px;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Orange background */
.orangebg {
  background-image: url('./assets/mobile/mobile-orangerectangle.png');
  width: 100%;
  max-width: 400px;
  height: 823px;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
}

/* Tablet and Above */
@media (min-width: 768px) {
  .rectbg {
    background-image: url('./assets/images/rect.png');
    background-position-x: center;
    width: 799px;
    max-width: 1024px;
    position: absolute;
    height: 820px;
  }
  .darkbg {
    background-image: url('./assets/images/darkrect.png');
    width: 100%;
    max-width: 1365px;
    height: 647px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }
  .orangebg {
    background-image: url('./assets/images/orangerect.png');
    width: 100%;
    max-width: 1440px;
    height: 481px;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 0;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .rectbg {
    max-width: 1650px;
    width: 1350px;
    height: 880px;
    /* border: 1px solid red; */
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  .rectbg {
    max-width: 1400px;
    height: 1100px;
  }
}
