@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";



/* Force light mode */
@layer base {
  :root {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
    /* color: black !important; */
  }
  html {
    color-scheme: light !important;
  }
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: normal !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #FF7A00 !important;
  --color-grey: #7A7A7A !important;
  --color-dark: #333333 !important;
}
@font-face {
  font-family: 'Urbanist';
  src: url('utils/fonts/Urbanist-VariableFont_wght.ttf') format('truetype'),
       url('utils/fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype'),
       url('utils/fonts/Urbanist-Bold.ttf') format('truetype'),
       url('utils/fonts/Urbanist-Black.ttf') format('truetype'),
       url('utils/fonts/Urbanist-BlackItalic.ttf') format('truetype'),
       url('utils/fonts/Urbanist-ExtraBold.ttf') format('truetype'),
       url('utils/fonts/Urbanist-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('utils/fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

.urban{
  font-family: 'Urbanist',sans-serif;
  font-weight: 900
}
body {
  margin: 0;
  font-family: 'Urbanist',sans-serif;
  box-sizing: border-box;
  padding: 0;
  color: white;
}





/* Default (Mobile First) */
.rectbg {
  background-image: url('./assets/mobile/mobile-rect.png');
  width: 100%;
  max-width: 780px;
  position: absolute;
  height: 860px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homebg{
  background-image: url('./assets/images/looper.png');
  width: 100%;
  height: 100%;
  background-position:start;
  background-repeat: no-repeat;
  background-size: contain;
}


.linebg {
  background-image: url('./assets/images/linesmainbg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* Dark background */
.darkbg {
  background-image: url('./assets/mobile/mobile-darkrectangle.png');
  width: 100%;
  max-width: 740px;
  height: 1153px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Orange background */
.orangebg {
  background-image: url('./assets/mobile/mobile-orangerectangle.png');
  width: 100%;
  max-width: 800px;
  height: 823px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.shiny-shadow {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 
              0 0 30px rgba(255, 255, 255, 0.6), 
              0 0 45px rgba(255, 255, 255, 0.4); 
  filter: brightness(1); 
}






/* Tablet and Above */
@media (min-width: 768px) {
  .rectbg {
    background-image: url('./assets/images/rect.png');
    background-position-x: center;
    width: 799px;
    max-width: 1024px;
    position: absolute;
    height: 820px;
  }
  .darkbg {
    background-image: url('./assets/images/darkrect.png');
    width: 100%;
    max-width: 1365px;
    height: 647px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }
  .orangebg {
    background-image: url('./assets/images/orangerect.png');
    width: 100%;
    max-width: 1440px;
    max-height: 481px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;

  }
}

/* Desktop */
@media (min-width: 1024px) {
  .rectbg {
    max-width: 1350px;
    /* border: 3px solid red; */
    width: 1650px;
    overflow: hidden;
    height: 880px;
  }
}


/* Large Desktop */
@media (min-width: 1440px) {
 
  .rectbg {
    max-width: 1220px;
    height: 1400px;
    overflow: hidden;

  }
  .darkbg{
    min-width: 1800px;
  }
  .orangebg{
    min-width: 1800px;
  }
}
